html,
body {
  margin: 0;
  padding: 0;
}

/*** INTRO ***/

.intro {
  min-height: 450px;
  width: 100%;
  background: blue;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
}






/*** INTRO QUERIES ***/

@media (max-device-width:480px) {

  .intro {
    min-height: 250px;
  }

}

@media (max-device-width:627px) {

  .intro {
    min-height: 300px;
    background: red;
  }

}










/*** Info ***/

.info {
  min-height: 800px;
  background: red;
  margin-top: -215px;
  -webkit-clip-path: polygon(0% 28%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
}











/*** DETAILS ***/

.details {

}






/*** PERKS ***/








/*** Price ***/








/*** FOOTER ***/
